body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
ul {
  list-style-type: none;
  padding: 5px;
}
li {
  display: inline;
  padding: 5px;
  font-size: 12px;
  color: gray;
  letter-spacing: -0.2%;
}
.left li {
  align-content: flex-start;
}
.right li {
  align-content: flex-end;
}
.nav-apps {
  color: transparent;
  width: 10px;
  background-image: url("../images/apps.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
