body {
  font-family: Arial, Helvetica, sans-serif;
}

nav,
footer {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
ul {
  list-style-type: none;
  padding: 5px;
}
li {
  display: inline;
  padding: 5px;
  font-size: 12px;
  color: gray;
  letter-spacing: -0.2%;
}
.left li {
  align-content: flex-start;
}
.right li {
  align-content: flex-end;
}
.nav-apps {
  color: transparent;
  width: 10px;
  background-image: url("../images/apps.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: calc(100vh - 100px); */
  /* height: 100vh; */
}
header {
  width: 100vw;
  text-align: center;
}
#brand-koogle img {
  width: 17vw;
}
#search-interface {
  text-align: center;
}
#ui-search input {
  border: 1px solid lightgray;
  width: 35vw;
  border-radius: 38px;
  border-width: 1px;
  height: 34px;
  padding: 5px;
}
#ui-buttons {
  margin-top: 14px;
}
footer {
  width: 100vw;
  margin: 0;
  background-color: #f2f2f2;
}
